<br>
<center><h1>DETALLES</h1></center>
<br>

<div id="contenedor" class="row">

  <div class="list-group" class="col-md-4">

    <a href="#" class="list-group-item active">First item</a>
    <a href="#" class="list-group-item">Second item</a>
    <a href="#" class="list-group-item">Third item</a>
  </div>



</div>
