

<center><h1>Eventos Culturales UIO</h1></center>

<center><img src="C:\Users\hugo2\Desktop\ProyectoEventos\ProyectoSoftware2\assets\images\logUIO.jpg" height="300" width="250" alt=""></center>

<center><p>Encuentre todos sus eventos aqui.</p></center>

<form action="/">
  <div class="form-group row">
    <label for="busqueda" class="col-4 col-form-label">
      Busque por Nombre del Evento
    </label>
    <div class="col-4">
      <input class="form-control" type="text" placeholder="Buscar" id="busqueda"
             name="busqueda">
    </div>
    <button ><img src="https://image.freepik.com/iconos-gratis/buscar-lupa_318-73229.jpg" height="25px" width="25px" alt=""></button>
  </div>

</form>
<br>

<!--
<form action="/">



 <center><div class="row">
   <div class="col-md-4"><button><img src="http://imageshack.com/a/img923/2853/90IHih.jpg" alt="" height="50px" width="50px"></button>
     <br>Bares
   </div>
   <div class="col-md-4"><button><img src="http://imageshack.com/a/img924/5852/ivZG3E.jpg" alt="" height="50px" width="50px"></button>
     <br>Xsport
   </div>
   <div class="col-md-4"><button><img src="http://imageshack.com/a/img924/1396/6Lyav4.jpg" alt="" height="50px" width="50px"></button>
     <br>Aventura
   </div>
   <div class="col-md-4"> <button><img src="http://imageshack.com/a/img924/9696/FUw7Dy.jpg" alt=""height="50px" width="50px"></button>
     <br>Aficiones
   </div>
   <div class="col-md-4"> <button><img src="http://imageshack.com/a/img923/6155/zl8RjN.jpg" alt=""height="50px" width="50px"></button>
     <br>Negocios
   </div>
   <div class="col-md-4"> <button><img src="http://imageshack.com/a/img923/1041/HJvgm1.jpg" alt=""height="50px" width="50px"></button>
     <br>Deportes
   </div>
   <div class="col-md-4"> <button><img src="http://imageshack.com/a/img922/5065/Mdt1IX.jpg" alt=""height="50px" width="50px"></button>
     <br>Música
   </div>
   <div class="col-md-4"> <button><img src="http://imageshack.com/a/img924/415/3nB0w5.jpg" alt=""height="50px" width="50px"></button>
     <br>Moda
   </div>
   <div class="col-md-4"> <button><img src="http://imageshack.com/a/img922/1899/nxqM2z.jpg" alt=""height="50px" width="50px"></button>
     <br>Hospedaje
   </div>



   </div></center>

</form>
-->
